* {
  text-align: center;
  background-color: #DA0463;
  font-family: 'Young Serif', serif;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 black;

}

p{
  color: #fff;
  line-height: 2;
}

footer {
  padding: 20px 0 5px;
}

a {
  color: #DBEDF3;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  font-size: 1.2rem;
  color: #000;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid grey;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #000;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: white;
}

@media (max-width:570px) {
  a {
    display: inline-block;
  }
}
